{% extends 'base.html' %}

{% block content %}


About Us...</h3>
This website was developed by:<br/><br/>
Name: <b><a href="www.linkedin.com/in/harshit-kumar-rai-107ba317a">Harshit Kumar Rai</a></b><br/>
Email: <b>harshit20b1541034@abes.ac.in</b><br/>
College: <b>ABES Engineering College</b>

<div class="container my-5">

<h2>Contact Us</h2>
      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email Address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Your Statement</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
    <button class="btn btn-primary success">Submit</button>
  </div>


  <footer class="container">
    <p class="float-end"><a href="index.html"></a></p>
    <p>© 2021-22 Stock Portfolio <a href="#">Terms & Conditions  </a></p>
  </footer>

{% endblock %}